<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="color: red">&times;</button>
      <h4 class="modal-title">CheckOut</h4>
    </div>
    <div class="modal-body" id="checkout-modal-body">
      <% var sum = 0 %>
      <table style="table panel panel-default">
        <tr>
          <th style="text-align: center"> Item </th>
          <th style="text-align: left"> Quantity </th>
          <th style="text-align: center"> Pricing($)</th> 
        </tr>
      <% cart.each(function(cartItem){  %>
        <tr>
          <td class="checkout-title">
            <%= cartItem.escape('title') %>
          </td>
          <td class="checkout-quantity">
            <%= cartItem.escape('quantity') %>
          </td>
          <td class="checkout-price">
            <% var rowTotal = parseFloat(cartItem.escape('price')) * parseInt(cartItem.escape('quantity')) %>
            <% sum += rowTotal %>
            <%= Math.round(rowTotal *100) / 100 %>
          </td>
        </tr>
      <%  }) %>
      </table> 
      <hr>
            <h3 style="float:right"> Total: <%= Math.round(sum *100) / 100 %> </h3>  <br> <br>

      <% if(infoExist){ %>
        <section id="userinfo-show">
          Your current info: <br>
          Country: <%= this.userInfo.escape("country") %> <br>
          State: <%= this.userInfo.escape("state") %> <br>
          ZipCode: <%= this.userInfo.escape("zipcode") %> <br>
          Address: <%= this.userInfo.escape("address") %> <br>
          <button id="change-info-btn" class="my-btn-info"> Change Address </button>
          <button id="cancel-info-btn" class="my-btn-danger"> Cancel </button>
        </section>
        <br> <br>
      <div id="checkout-form-wrapper">

      </div>
      <% }else{ %>
          <form id="userinfo-form">
           <label> Name: <span style="color:red">(One time user only) </span>
             <input type="text" class="form-control" name="user_info[name]">
           </label>
           <br>
           <label style="float:left"> Country:
             <input type="text" class="form-control" name="user_info[country]" >
           </label>

           <label style="float:left"> State:
             <input type="text" class="form-control" name="user_info[state]">
           </label>
           <label style="float:left">ZipCode:
             <input type="text" class="form-control" name="user_info[zipcode]">
           </label>
           <br>

           <label style="float:left"> Address:
              <input type="text" class="form-control" name="user_info[address]">
           </label>         
       
        </form>
      <% } %>
       <form id="cred-form"> 
          <label style="float: left"> Credit Card: 
            <input type="text"  id="cred" class="form-control" name="user_info[credit_card]">
          </label>

          <label style="float:left"> CRV:
            <input type="text" id="crv" class="form-control" name="user_info[crv]">
          </label>
       </form>
       <br><br>
    </div>
    <div class="modal-footer">
      <button class="my-btn-info" id="checkout-btn" style="color:black;right:5px;bottom:5px">Place Order
      </button>
    </div>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->