<div class="modal-dialog" style="width: 800px">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="color: red;opacity:1">&times;</button>
      <h4 class="modal-title"><%= item.escape('title')%></h4>
    </div>
    <div class="modal-body">
      <section>
        <img src="<%=item.get("img")%>" > 
        <section style="float: right">
         Author: <%= itemInfo.escape("author") %>
           <ul style="list-style:none">
             <li>ISBN: <%= itemInfo.escape("isbn") %> </li>
             <li>Published Date: <%= itemInfo.escape("published") %> </li>
             <li>Publisher: <%= itemInfo.escape("publisher") %> </li>
             <li>Edition: <%= itemInfo.escape("edition") %> </li>
           </ul>
        </section>
      </section>  


      	<section>
      		 Overview: 
           <hr>
           <%= itemInfo.escape("overview") %>
      	</section>   

        <h2> Post a Comment: </h2>        
      <form>
        <input id="comment-title" style="background-color: #222222; color:#eeee22" placeholder="Enter Title here"> <br>
        <textarea id="comment-box" style="background-color: #222222; color:#eeee22" placeholder="body..."></textarea> <br>
        <button id="comment-submit-btn" class="btn my-btn-info" style="color:black">Submit</button>
      </form>
      <h4> User Comments: </h4>
      <hr> 
      <section>
        <ul style="list-style:none;color:#eeee22">
          <% comments.each(function(comment){  %>
            <li>
              <p style="float:right"> By <%= comment.escape("author") %> </p>
              <h3><%= comment.escape('title') %> </h3>              
              <p> <%= comment.escape('body') %> </p>
              <hr style="width:80%">
            </li>
          <% }) %>
        </ul>
      </section>
    </div>
    <div class="modal-footer">
      <button type="button" class="close" data-dismiss="modal" class="btn my-btn-info" style="color:white; float:right;opacity:1">Close
      </button>
    </div>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->