<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="color: red;opacity:1">&times;</button>
      <h4 class="modal-title"><%= item.escape('title')%></h4>
    </div>
    <div class="modal-body">
      <section>
          <img src="<%=item.get("img")%>" > 
      </section>  

      	<section>
      		 Author: <%= itemInfo.escape("author") %>
           <li>ISBN: <%= itemInfo.escape("isbn") %> </li>
           <li>Published Date: <%= itemInfo.escape("published") %> </li>
           <li>Publisher: <%= itemInfo.escape("publisher") %> </li>
           <li>Edition: <%= itemInfo.escape("edition") %> </li>
      	</section>

      	<section>
      		 Overview: <%= itemInfo.escape("overview") %>
      	</section>           

      <button class="btn my-btn-info" style="color:black">Post a Comment: </button>
      <form>

      </form>
      <h4> User Comments </h4>
      <hr> 
      <section>
      </section>
    </div>
    <div class="modal-footer">
      <button type="button" class="close" data-dismiss="modal" class="btn my-btn-info" style="color:white; float:right;opacity:1">Close
      </button>
    </div>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->