<div class="modal-dialog" style="width: 800px">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="color: red;opacity:1">&times;</button>
      <h4 class="modal-title"><%= item.escape('title')%></h4>
    </div>
    <div class="modal-body">
      <section>
        <img src="<%=item.get("img")%>"  data-src="holder.js/300x200" alt="...">
        <section class="rating" style="color:yellow">
           <% for(var i = 0; i < parseInt(item.escape('rating')); i++) { %>
             <span> &#9733; </span>
           <% } %>
           <% for(var i = parseInt(item.escape('rating')); i < 10 ; i++){ %>
             <span>&#9734;</span>
           <% } %>

            <span> By <%= comments.length %> Users </span> 
        </section>
        <section>
         Author: <%= itemInfo.escape("author") %>
           <ul style="list-style:none">
             <li>ISBN: <%= itemInfo.escape("isbn") %> </li>
             <li>Published Date: <%= itemInfo.escape("published") %> </li>
             <li>Publisher: <%= itemInfo.escape("publisher") %> </li>
             <li>Edition: <%= itemInfo.escape("edition") %> </li>
           </ul>
        </section>
      </section>  


      	<section>
      		 Overview: 
           <hr>
           <%= itemInfo.escape("overview") %>
      	</section>   

        <h2> Post a Comment: </h2>        
      <form>
        <p>
          <span id="set_rating" style="color:yellow">
             <% for(var i = 1; i <= 10; i++){ %>
               <span class="set_star" style="float:left" data-id= <%= i %> > &#9734; </span>
              <% } %>
          </span>
             Rate it!  <span style="display:none" id="user_rating"> </span>
        </p> 
        <input id="comment-title" style="background-color: #222222; color:#eeee22" placeholder="Enter Title here"> <br> <br>
        <textarea id="comment-box" style="background-color: #222222; color:#eeee22" placeholder="body..."></textarea> <br>
        <button id="comment-submit-btn" class="btn my-btn-info" style="color:black">Submit</button>
      </form>
      <h4> User Comments: </h4>
      <hr> 
      <section style="overflow-y: scroll; height: 400px;">
        <ul style="list-style:none;color:#eeee22">
          <% comments.each(function(comment){  %>
            <li>
              <p style="float:right"> By <%= comment.escape("author") || "You" %> </p>
              <h3><%= comment.escape('title') %> </h3> 
              <% for(var i = 0; i < parseInt(comment.escape("user_rating")); i++){ %>
                <span> &#9733; </span>
              <% } %>
              <% for(var i = parseInt(comment.escape("user_rating")); i < 10 ; i++){ %>
                <span>&#9734;</span>
              <% } %>             
              <p> <%= comment.escape('body') %> </p>
              <hr style="width:80%; left:5px">
            </li>
          <% }) %>
        </ul>
      </section>
    </div>
    <div class="modal-footer">
      <button type="button" class="close" data-dismiss="modal" class="btn my-btn-info" style="color:white; float:right;opacity:1">Close
      </button>
    </div>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->